.home-section1-container {
  width: 60%;
  margin: 60px auto 0 auto;
}
.section1-question {
  text-align: center;
  padding: 40px;
  font-size: 2em;
}
.section1-answer {
  font-size: 1.2em;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .home-section1-container {
    width: 85%;
  }
  .section1-question {
    font-size: 1.7em;
  }
  .section1-answer {
    font-size: 0.9em;
  }
}
