* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: black;
  font-style: "Comfortaa", cursive;
}
body {
  background: whitesmoke;
  margin-top: 10vh;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
li {
  list-style-type: none;
}
hr {
  margin: 40px auto;
  width: 30%;
  border-top: 2px aqua solid;
}
